@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}
.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}
/* ---------------price page--------------- */
.spikes,
.spikesb,
.spikesn {
  position: relative;
}

.spikes::after,
.spikesn::after,
.spikesblack::after {
  content: "";
  top: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 0;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(230deg, white 25%, transparent 25%);
  background-size: 15px 30px;
}
.spikesn::after {
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 20px 30px;
}
.spikesblack::after {
  background-image: linear-gradient(135deg, black 25%, transparent 25%),
    linear-gradient(225deg, black 25%, transparent 25%);
  background-size: 20px 30px;
}
.spikesb::after {
  content: "";
  top: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 0;
  background-image: linear-gradient(135deg, #191919 25%, transparent 25%),
    linear-gradient(225deg, #191919 25%, transparent 25%);
  background-size: 20px 30px;
  /* background: ; */
}

.btn {
  position: relative;
  width: 100%;
  transition: 0.2s;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background: #df2935;
  z-index: 0;
  transition: 0.3s;
}
.btn::after {
  left: 0;
}
.btn::before {
  right: 0;
}

.boxShadow,
.boxShadowp {
  transition: 0.3s;
  margin: 0px 5px;
}

.boxShadowp {
  box-shadow: 0px 0px 20px black;
  transform: scale(1.13);
}

/* @media (hover: hover) { */
.boxShadow:hover {
  box-shadow: 0px 0px 20px black;
  transform: scale(1.1);
}

.per:nth-child(1):hover,
.per:nth-child(3):hover,
.per:nth-child(4):hover {
  z-index: 30;
}
.boxShadow:hover {
  box-shadow: 0px 0px 20px black;
  transform: scale(1.1);
}
.per:hover .btn::before,
.per:hover .btn::after {
  width: 50.2%;
  color: white;
}
.per:hover .btnw {
  color: white;
  z-index: 10;
}
/* } */

.per:nth-child(2) {
  transform: scale(1);
  z-index: 20;
}

@media (max-width: 1128px) {
  .boxShadowp {
    box-shadow: 0px 0px 20px black;
    transform: scale(1);
  }
  .per:nth-child(2) {
    transform: scale(1);
    order: 1;
  }
  .per:nth-child(1) {
    order: 2;
  }
  .per:nth-child(3) {
    order: 3;
  }
  .per:nth-child(4) {
    order: 4;
  }
  .per:nth-child(2) {
    transform: scale(0.9);
  }
  .boxShadowp:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.13);
  }
}

/* ----------------------Home---------------------- */
.btn_home,
.btn_next {
  background-color: #df2935;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  text-decoration: none;
  /* box-shadow: 0px 4px 6px red; */
  transition: 0.7s ease;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  border-color: transparent;
  background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
  background-image: linear-gradient(45deg, white 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 600ms ease-in-out;
  transition: background 600ms ease-in-out;
  cursor: pointer;
}
.btn_home:hover {
  color: #323232;
  background-position: 0;
}
.btn_next {
  border: 2px solid #df2935;
}
.btn_next:hover {
  color: #323232;
  background-position: 0;
}
.shadow_inner {
  transition: 0.3s;
}
.shadow_inner:hover {
  box-shadow: 0px 0px 8px 1px white inset;
}

.gr {
  background-image: linear-gradient(to left, #111111 0%, black 100%);
}

.triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-width: 8px;
  left: -16px;
  top: 12px;
}
.triangle::before {
  content: "";
  position: absolute;
  width: 15px;
  border-radius: 100%;
  background: black;
  border: 2px solid white;
  height: 15px;
  left: -42px;
  top: 11px;
}
@media (max-width: 430px) {
  .triangle::before {
    left: -35px;
  }
}
